.wrapper {
  padding: 0 16px;
  margin-bottom: 16px;
}

.container {
  border-radius: 15px;
  background-color: #F8FAFB;
  padding: 16px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #212528;
  margin-bottom: 12px;
}

.header p {
  margin: 0;
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.slideContainer {
  display: flex;
}

.slide {
  width: 100%;
  flex-shrink: 0;
  cursor: pointer;
  padding: 8px 0;
  scroll-snap-align: start;
}

.postTitle {
  margin: 0 0 8px 0;
  font-size: 1.125rem;
  font-weight: 600;
  color: #212528;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postWriter {
  display: flex;
  align-items: center;
  font-size: 0.875rem;

  color: #899197;
  gap: 8px;
}

.postStats {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 4px;
}

.postStats p {
    margin: 0 8px 0 0;
}

.postStats p:last-child {
    margin-right: 0;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
}

.dot {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
}

.activeDot {
  width: 16px;
  border-radius: 4px;
  background-color: #333;
}