.top{
    display: flex;
    justify-content: center;
    gap:34%;
    margin-top: 50px;
}

.title{
    color: #1A1E20;
    font-size: 20px;
    font-weight: bold;  
}

.submitButton{
    color: #A5AAAF;
    font-size: 18px;
    font-weight: 600;
}