/* 전체 컨테이너 */
.Container {
    position: relative;
    width: 100%;
    max-width: min(90vw, 420px);
    margin: 0 auto;
    padding: 4vw;
    box-sizing: border-box
}

.header {
    position: relative;
    text-align: center;
    padding-top: env(safe-area-inset-top, 16px);
    margin-top: 16px;
    margin-bottom: 24px;
}

.header h1 {
    font-size: 1rem;
    color: #1a1e20;
    margin: 0;
}



/* 뒤로가기 버튼 */
.backButton {
    position: absolute;
    top: clac(env(safe-area-inset-top, 0px) + 16px);
    left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 24px;
    height: 24px;
    font-size: 22px;
    font-weight: bold;
    
    background: none;
    border: none;
    color: #212528;
    cursor: pointer;

}


/* 탭 버튼 영역 */
.tabWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 362px;

    height: 52px;
    margin: 0 auto;

    background-color: #f2f4f5;
    color: #666E76;
    border-radius: 12px;
    overflow: hidden;
}

.tab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    width: 100%;
    max-width: 175px;
    height: 100%;
    max-height: 44px;
    
    color:#666E76;

    background-color: #f2f4f5;
    cursor: pointer;
    border: none;

    border-radius: 12px;
}

.active {
    background-color: #fff;
    color: #212528;
}

/* 콘텐츠 영역 */
.contentWrapper {
    position: relative;
    min-height: 250px;
    width: 100%;
    margin-top: 24px;
    box-sizing: border-box;     
}

.Form {
    width: 100%;
}

