/* 전체 컨테이너 */
.Container {
    position: relative;
    padding: 4vw;
    max-width: 420px;
    margin: 0 auto;
    box-sizing: border-box
}

/* 뒤로가기 버튼 */
.backButton {
    position: absolute;
    top: env(safe-area-inset-top, 16px);
    left: 16px;
    background: none;
    border: none;
    width: 32px;
    height: 32px;
    font-size: 22px;
    cursor: pointer;
    color: #212528;
}

.header {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 1.5rem;
    color: #1a1e20;
    margin-top:16px;
    margin-bottom: 24px;
}

/* 탭 버튼 영역 */
.tabWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 362px;

    height: 52px;
    margin: 0 auto;

    background-color: #f2f4f5;

    border-radius: 12px;
    overflow: hidden;
}

.tab {
    flex: 1;
    display: flex;
    /* 추가 */
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    
    color: #1a1e20;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover {
    background-color: #e5e5e5;
}

.active {
    background-color: #fff;
    font-weight: bold;
}

/* 콘텐츠 영역 */
.contentWrapper {
    position: relative;
    min-height: 250px;
    width: 100%;
    margin-top: 24px;
    box-sizing: border-box;     
}

/* 기본 콘텐츠 (숨겨짐) */
.tabContent {
    width: 100%;
    opacity: 0;
    transform: translateY(10px);
    position: absolute;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

/* 활성화된 콘텐츠 */
.tabContent.active {
    opacity: 1;
    transform: translateY(0);
    position: relative;
}

