.title{
    color: #1A1E20;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.bodyText{
    color:black;
    margin-bottom: 10px;
}

/* div */
.wrapper_main{
    display: flex;             /* Flexbox 컨테이너로 설정 */
    justify-content: center;
    flex-direction: column;
    margin: auto;

    width: 90%;
    max-width: 400px;
    min-width: 320px;

    gap: 12px;
}

.oButton{
    align-items: center;
}

.xButton{
    align-items: center;
}

.bottomButtonBox{
    margin-top: 40%;
    margin-bottom: 6%;
    width: 100%;
    display: flex;
    align-items: center;

}


/* 박스 */
.buttonOBox{
    color: #52585E;

    border-color: none;
    border-radius: 12px;
    background-color: #F8FAFB;
    
    width: 65%;
    height: 47px;
    padding-left: 15px;
}

.buttonOBox:focus,
.buttonXBox:focus{
    outline: none;
    border: 1px solid #888e93;
}

.buttonXBox{
    color: #52585E;

    border-color: none;
    border-radius: 12px;
    background-color: #F8FAFB;


    width: 100%;
    height: 47px;
    padding-left: 15px;
}

/* 버튼 */
.doubleButton{
    font: 70%;
    font-weight: bold;
    color: #5ACBFB;
    text-align: center;

    border: solid 1px #5ACBFB;
    border-radius: 12px;

    width: 30%;
    height: 47px;
    margin-left: 10px;
}

.nextButton{
    text-align: center;
    font-weight: bold;

    border:none;
    border-radius: 12px;
    background-color: #5ACBFB;

    width: 100%;
    height: 55px;
}

