.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 40dvh;

    /* 휴대폰 기종에 따라 다르게 설정 */
    margin: 0 auto;
    padding: 4vw;
    border-radius: 30px;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;

    box-sizing: border-box;
    position: relative;
}



.header {
    position: relative;
    text-align: center;
    padding-top: env(safe-area-inset-top, 16px);
    margin-top: 16px;
    margin-bottom: 24px;
}

.header h1 {
    font-size: 1rem;
    color: #1a1e20;
    margin: 0;
}



/* 뒤로가기 버튼 */
.backButton {
    position: absolute;
    top: clac(env(safe-area-inset-top, 0px) + 16px);
    left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 24px;
    height: 24px;
    font-size: 22px;
    font-weight: bold;
    
    background: none;
    border: none;
    color: #212528;
    cursor: pointer;

}


.Password {
  width: 100%;
  max-width: 400px;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  color: #343a3f;
}

.Password input {
  flex: 1; 
  width: 100%;
  padding: 0.75rem;
  background-color: #f8fafb;
  font-size: 0.95rem;
  color: #666e76;
  border: 1px solid transparent;
  border-radius: 12px;
  outline: none;
  box-sizing: border-box;


}

.Password input:hover {
  border-color: #000000;
}


.newPassword {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  height: 47px;
  font-size: 0.75rem;

  border-radius: 12px;

  outline: none;
  box-sizing: border-box;
}

/* input + button 묶음 */
.PasswordCheck {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;               /* 간격 */
  width: 100%;
  height: 47px;
  /* padding: 0.25rem; */
  border-radius: 12px;
  box-sizing: border-box;

}


/* .newPassword input:hover,
.PasswordCheck input:hover {
  border-color: #343a3f;
} */



.sendButton {
  width: 98px;
  height: 47px;
  font-size: 0.875rem;
  font-weight: 600;
  color: #6868d5;
  background-color: #FFF;
  border: 1px solid #6868d5;
  border-radius: 12px;
  cursor: pointer;
  white-space: nowrap;
}

.sendButton:hover {
  background-color: #6868d5;
  color: #fff;
}

.VerifyMessage {
  margin-top: 0.5rem;
  font-size: 0.75rem;        /* 화면 크기에 따라 줄어듦 */
  color: #ff4d4f;
}


/* 버튼 */
.submitButton {
  position: fixed;
  bottom: 20px;
  left: 50%;          /* 가로 가운데 정렬 */
  transform: translateX(-50%);
  
  width: 90%;         /* 버튼 너비 - 화면의 90% */
  max-width: 370px;   /* 너무 넓어지지 않도록 제한 */
  height: 55px;
  
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #6868d5;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #5757c9;
}

@media screen and (max-width: 400px) {
  .PasswordCheck, .sendButton {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .submitButton {
    font-size: 0.9rem;
    height: 50px;
  }
}