.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 

    display: flex;
    justify-content: center; 
    align-items: center; 
    z-index: 2000; 
    flex-direction: column;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    gap: 10px; 
    width: 100%;
    margin-top: 20px; 
}

.modalContent {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    height: 176px; 
    text-align: center;
    

    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: stretch; 
}

.modalMessage {
    font-size: 16px;
    font-weight: 600;
    color: #1A1E20;
    margin-bottom: 0; 
    
    flex-grow: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
}

.modalSubMessage {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

.modalButton {
    background-color: #6868D5; 
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    transition: background-color 0.2s;
}

.buttonContainer > .modalButton {
    flex-grow: 1; 
    width: auto; 
}

.cancelButton {
    background-color: #f0f0f0; /* 배경색 변경 */
    color: #333; /* 텍스트 색상 변경 */
    font-weight: 500;
}

.modalButton:hover {
    background-color: #5555c4;
}