.top {
    display : flex;
    justify-content: space-between;
    margin-top: 15%;
    margin-left: 2%;
    margin-right: 3%;

    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.body{
    align-items: center;
    
}

.profile{
    align-items: center;
    display: flex;
    margin-top:10%;
    margin-left: 6%;
    gap: 5%;

    width: 35%;
    height: 40px;

    background-color: #C4C4C4;
}

.photo {
    margin-left: 10%;
    width: 28%;
    height: 100%;

    border: 1px solid black;
    border-radius: 50%;
    background-color: blue;
}

.nickname {

}

.date {
    
}