.Form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 40dvh;

    /* 휴대폰 기종에 따라 다르게 설정 */
    margin: 0 auto;
    padding: 4vw;
    border-radius: 30px;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;

    box-sizing: border-box;
    position: relative;
}

.Container {
  display: flex;
  
  margin: auto;
  padding: 8vw;
}

.header {
  display: none;
}


/* 이미지 삽입 후 수정. */
.img {
  display: flex;
  justify-content: center;
  align-items: center;
  
/* 
  width: 60px;
  height: 60px; */

  font: 50px bold;
  color: #6868d5;

}

.resultText {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 195px;
  height: 62px;

  color: #212528;
  font-size: 1.25rem;
  font-weight: 600;
  text-align: center;
}


/* 버튼 */
.submitButton {
  position: fixed;
  bottom: 20px;      /* 화면 하단에서 20px 위 */
  left: 50%;          /* 가로 가운데 정렬 */
  transform: translateX(-50%);
  
  width: 90%;         /* 버튼 너비 - 화면의 90% */
  max-width: 370px;   /* 너무 넓어지지 않도록 제한 */
  height: 55px;
  
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #6868d5;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #5757c9;
}

@media screen and (max-width: 400px) {
  .sendButton {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .submitButton {
    font-size: 0.9rem;
    height: 50px;
  }
}