.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* 휴대폰 기종에 따라 다르게 설정 */
    margin: auto;
    border-radius: 30px;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;
}

.header {
  display: none;
}


.User {
  /* align-items: center; */
  width: 90%;
  max-width: 400px; 
  max-height: 77px;
  padding: 3vw; 
  font-size: 0.95rem;

  color: #666e76;
  outline: none;
  margin-bottom: 3vw;
}


.UserPhone:hover {
  border: 1px solid;

}

.UserName {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px; 
  height: 47px;
  /* padding: 3vw;  */
  font-size: 0.95rem;

  color: #666e76;
  background-color: #f2f4f5;

  /* border: 1px solid #ccc; */
  border-radius: 8px;
  outline: none;

  padding: 3vw; 

  gap: 8px; /* 입력창과 버튼 사이 간격 */

  flex: 1; /* 버튼 빼고 남은 공간을 꽉 채움 */
  padding: 12px;
  font-size: 14px;
  /* box-sizing: border-box; */

  width: 100%;
}

/* input + button 묶음 */
.UserRow {
  display: flex;
  align-items: center;
  gap: 8px;               /* 간격 */
  width: 100%;
  max-width: 400px;
  margin-bottom: 16px;
  background-color: #f2f4f5;
  border-radius: 8px;

}

.UserPhone {
  justify-content: center;
  width: 100%;
  max-width: 400px; 
  height: 47px;
  padding: 3vw; 
  font-size: 0.95rem;

  color: #666e76;
  border-radius: 8px;
  outline: none;
  gap: 8px; /* 입력창과 버튼 사이 간격 */

  flex: 1; /* 버튼 빼고 남은 공간을 꽉 채움 */
  padding: 12px;
  font-size: 14px;
  box-sizing: border-box;

}




.sendButton {
  /* padding: 2.5vw 4vw; */
  width: 98px;
  height: 47px;
  background-color: #FFF;
  color: #6868d5;
  font-size: 14px;
  font-weight: 600;
  /* boreder: 1px solid #3BC4FF; */
  border: 1px solid #6868d5;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s ease;
}

.sendButton:hover {
  background-color: #6868d5;
  color: #fff;
}

.VerifyMessage {
  margin-top: 8px;
  font-size: 12px;        /* 화면 크기에 따라 줄어듦 */
  color: #ff4d4f;
}


/* 버튼 */
.submitButton {
position: fixed;
  bottom: 20px;       /* 화면 하단에서 20px 위 */
  left: 50%;          /* 가로 가운데 정렬 */
  transform: translateX(-50%);
  
  width: 90%;         /* 버튼 너비 - 화면의 90% */
  max-width: 400px;   /* 너무 넓어지지 않도록 제한 */
  height: 55px;
  
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: #6868d5;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}
