.Container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 50dvh;
    /* 휴대폰 기종에 따라 다르게 설정 */
    margin: 0 auto;
    padding: 4vw;
    border-radius: 30px;
    background-color: #ffffff;
    font-family: 'Noto Sans KR', sans-serif;

    box-sizing: border-box;
    position: relative;
}

.header {
  display: none;
  font-size: 1.5rem;
  color: #1a1e20;
  margin-bottom: 2rem;
  text-align: center;
}


.User {
  width: 100%;
  max-width: 400px;
  margin-bottom: 3vw;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.UserName {
  display: flex;
  align-items: center;
  justify-content: center;
  
  width: 100%;
  height: 47px;
  font-size: 0.75rem;

  color: #666e76;
  background-color: #f2f4f5;

  border-radius: 8px;
  outline: none;
  box-sizing: border-box;
}

/* input + button 묶음 */
.UserRow {
  display: flex;
  align-items: center;
  gap: 8px;               /* 간격 */
  width: 100%;
  height: 47px;
  padding: 0.25rem;
  background-color: #f2f4f5;
  border-radius: 8px;
  box-sizing: border-box;

}

.UserPhone {
  flex: 1; /* 버튼 빼고 남은 공간을 꽉 채움 */

  padding: 0.75rem;
  font-size: 0.95rem;
  color: #666e76;
  border-radius: 8px;
  outline: none;
  box-sizing: border-box;

}

.UserPhone:hover {
  border-color: #3bc4ff;
}



.sendButton {
  width: 98px;
  height: 100%;
  font-size: 0.875rem;
  font-weight: 600;
  color: #6868d5;
  background-color: #FFF;
  border: 1px solid #6868d5;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
  white-space: nowrap;
}

.sendButton:hover {
  background-color: #6868d5;
  color: #fff;
}

.VerifyMessage {
  margin-top: 0.5rem;
  font-size: 0.75rem;        /* 화면 크기에 따라 줄어듦 */
  color: #ff4d4f;
}


/* 버튼 */
.submitButton {
  position: fixed;
  bottom: env(safe-area-inset-bottom, 20px);      /* 화면 하단에서 20px 위 */
  left: 50%;          /* 가로 가운데 정렬 */
  transform: translateX(-50%);
  
  width: 90%;         /* 버튼 너비 - 화면의 90% */
  max-width: 400px;   /* 너무 넓어지지 않도록 제한 */
  height: 55px;
  
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  background-color: #6868d5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.submitButton:hover {
  background-color: #5757c9;
}

@media screen and (max-width: 400px) {
  .UserPhone, .sendButton {
    font-size: 0.8rem;
    padding: 0.5rem;
  }

  .submitButton {
    font-size: 0.9rem;
    height: 50px;
  }
}