.title{
    color: #1A1E20;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.bodyText{
    font-size: 15px;
    font-weight: 600;
    color:black;
    margin-top: 5%;
    margin-bottom: 10px;
    display: block;
}


/* div */
.wrapper_main{
    display: flex;       
    justify-content: center;
    flex-direction: column;
    position: relative;
    margin: 5% auto;
    position: relative;

    width: 90%;
    height: 90%;

    max-width: 400px;
    min-width: 320px;

    gap: 20px;
    padding-bottom: 85px;
}

.wrapper_main2{
    position: relative;
    margin: 5% auto;
    padding-bottom: 85px;

    width: 90%;
    height: 90%;

    max-width: 400px;
    min-width: 320px;
}


.bottomButtonBox{
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    
    width: 90%;
    height: 55px;
    max-width: 400px;
}

.bottomButtonBox2{
  position: fixed;
  bottom:  10px;
  left: 50%;
  transform: translateX(-50%);

  max-width: 400px;
  width: 90%;
  height: 55px;
} 


/* 박스 */



.radioBox input[type=radio] {
    accent-color: #6868D5;
    margin-left: 1%;
}



/* 버튼 */

.nextButton{
    text-align: center;
    font-weight: bold;

    border:none;
    border-radius: 12px;
    background-color: #6868D5;

    width: 100%;
    height: 55px;
    cursor: pointer;
    text-align: center;
    color:white;
}

.arrowDown{
    width: 24px;
    height: 24px;
    background: url('/images/board/downArrow') no-repeat center;
}

.customDropdown {
  margin-top: 1%;
  position: relative;
  width: 65%;
  background-color: #fff;
  border-radius: 12px;
  border: 1px solid #EAEBEF;
}

.dropdownHeader {
  padding: 0 15px;
  height: 47px; 
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.placeholder {
  color: #52585E; 
  font-size: 15px; 
}

.selectedValue {
  color: #1A1E20; 
  font-size: 15px;
}

.arrowDown {
  width: 20px;
  height: 20px;
  background: url("/images/board/downArrow.png") no-repeat center;
}

.arrowDown.open {
  width: 20px;
  height: 20px;
  background: url("/images/board/upArrow.png") no-repeat center;
}

.dropdownOptions {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;

  border-radius: 12px;
  border-top:none;
  border: 1px solid #EAEBEF;
  max-height: 200px;
  overflow-y: auto;
  z-index: 10;
}

.optionItem {
  padding: 12px 15px;
  font-size: 15px;
  color: #52585E;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.optionItem:hover {
  background-color: #F2F4F5;
}