/* 전체 컨테이너 */
.Container {
    position: relative;
    width: 100%;
    max-width: min(90vw, 420px);
    margin: 0 auto;
    padding: 4vw;
    box-sizing: border-box
}

.header {
    position: relative;
    text-align: center;
    padding-top: env(safe-area-inset-top, 16px);
    margin-top: 16px;
    margin-bottom: 24px;
}

.header h1 {
    font-size: 1rem;
    color: #1a1e20;
    margin: 0;
}


/* 뒤로가기 버튼 */
.backButton {
    position: absolute;
    top: clac(env(safe-area-inset-top, 0px) + 16px);
    left: 16px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 24px;
    height: 24px;
    font-size: 22px;
    font-weight: bold;
    
    background: none;
    border: none;
    color: #212528;
    cursor: pointer;

}

.Form {
  width: 100%;
}

/* 게시글 목록 */
.PostsList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* 게시글 카드 */
.postItem {
  /* display: flex; */
  align-content:  column;
  flex-direction: column;

  width:100%;
  max-width: 400px;
  height: 100%;
  max-height: 78px;

  background-color: #fff;
  border-line-color: #f2f4f5;
}



/* 제목 */
.postTitle {
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 78px;

  font-size: 1rem;
  font-weight: 600;
  color: #333;
  /* margin-bottom: 0.2rem; */
  line-height: 1.4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 본문 */
.postContent {
  font-size: 0.75rem;
  color: #abb5bd;
  margin-bottom: 4%;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  /* display: -webkit-box; */
  -webkit-line-clamp: 1; /* 두 줄까지만 표시 */
  -webkit-box-orient: vertical;
}

/* 날짜 */
.postMeta {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.75rem;
  color: #abb5bd;
  margin-top: 0.3rem;
}

/* 통계 (조회수, 좋아요, 댓글) */
.postStats {
  display: flex;
  align-items: flex-end;
  gap: 0.4rem;
}

.postStats img {
  vertical-align: bottom;

  width: 100%;
  max-width: 25px;
  height: 100%;
  max-height: 17px;

}

.postStats p {
  margin: 0;
  font-size: 0.75rem;
  color: #abb5bd;
}


