.title{
    color: #1A1E20;
    font-weight: bold;
    font-size: 20px;

    text-align: center;
    width: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
}

.bodyText{
    color:black;
    margin-bottom: 10px;
    display: block;
}

/* div */
.wrapper_main{
    display: flex;             /* Flexbox 컨테이너로 설정 */
    justify-content: center;
    flex-direction: column;
    margin: 5% auto;
    position: relative;

    width: 90%;
    height: 90%;

    max-width: 400px;
    min-width: 320px;

    gap: 12px;
}

.wrapper_main2{
    margin: 5% auto;

    width: 90%;
    height: 90%;

    max-width: 400px;
    min-width: 320px;
}

.oButton{
    align-items: center;
    margin-bottom: 5%;
}

.xButton{
    align-items: center;
}

.bottomButtonBox{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 200%;
    margin-bottom: 10px;
    width: 100%;
}

.bottomButtonBox2{
  width: 100%;
  height: 55px;
  border-radius: 12px;
  border: none;
  background-color: #5acbfb;
  color: white;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin-top: 40px; 
}


/* 박스 */
.buttonOBox{
    color: #52585E;

    border-color: none;
    border-radius: 12px;
    background-color: #F8FAFB;
    
    width: 65%;
    height: 47px;
    padding-left: 15px;
}

.buttonOBox:focus,
.buttonXBox:focus{
    outline: none;
    border: 1px solid #888e93;
}

.buttonXBox{
    color: #52585E;

    border-color: none;
    border-radius: 12px;
    background-color: #F8FAFB;


    width: 100%;
    height: 47px;
    padding-left: 15px;
}

.radioBox{
    color: #1A1E20;
    margin-left: 1%;
}

.selectBox{
    font-size: 15px;
    color: #52585E;
    border: solid 1px #EAEBEF ;
    border-radius: 12px;
    background-color: none;

    width: 234px;
    height: 47px;
    padding: 5px;
}

.dropBox{

}

/* 버튼 */
.doubleButton{
    font: 70%;
    font-weight: bold;
    color: #5ACBFB;
    text-align: center;

    border: solid 1px #5ACBFB;
    border-radius: 12px;

    width: 30%;
    height: 47px;
    margin-left: 10px;
}

.nextButton{
    text-align: center;
    font-weight: bold;

    border:none;
    border-radius: 12px;
    background-color: #5ACBFB;

    width: 100%;
    height: 55px;
}

