
/* 상단 헤더 */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 16px;
  font-size: 20px;
  font-weight: bold;
  color:#222;
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
}

/* 뒤로가기 버튼 */
.backButton {
  position: absolute;
  left: 16px;
  background: none;
  border: none;
  /* font-size: 22px; */
  width: 24px;
    height: 24px;
  font-weight: bold;
  cursor: pointer;
  color: #212528;
}

/* 전체 폼 */
.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 16px;
}

.Form  p{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 6px;
    color: #333;
}

.Container {
  width: 100%;

}

/* 비밀번호 */
.PassWord {
  width: 100%;
  max-width: 400px;
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  margin: 0 auto;
}

/* 비밀번호 입력 필드 */
.PasswordField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  background: #fafafa;

}

.PasswordLabel {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 8px;
  color: #444;
  background: #fafafa;

}

.PasswordInput {
  padding: 12px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  color: #333;
  outline: none;
  transition: border-color 0.2s ease-in-out;
}

.ButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 버튼 */
.submitButton {
position: fixed;
  bottom: 20px;       /* 화면 하단에서 20px 위 */
  left: 50%;          /* 가로 가운데 정렬 */
  transform: translateX(-50%);
  
  width: 90%;         /* 버튼 너비 - 화면의 90% */
  max-width: 400px;   /* 너무 넓어지지 않도록 제한 */
  height: 55px;
  
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  background: #3BC4FF;
  color: #fff;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}